@model FileSharing.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Changepassword";
}

<h1 style="text-align: center;color: #009999">Change password</h1>
<hr />

<div class="col-12 contents">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                
                <p class="mb-4">you can Change Password And save this Change  </p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
            <form asp-action="Changepassword" methode="post">
                <div class="form-group first">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control">
                    <span asp-validation-for="CurrentPassword" class="text-info"></span>
                </div>
                <div class="form-group first">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" type="password" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-info"></span>
                </div>
                <div class="form-group first">
                    <label asp-for="ConfirmNewPassword"></label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" >
                    <span asp-validation-for="ConfirmNewPassword" class="text-info"></span>
                </div>
                <input type="submit" value="Change Password" class="btn text-white btn-block btn-primary">
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn text-white btn-block btn-primary">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
